<a href="https://colab.research.google.com/github/eyv7jz/ds1002-eyv7jz/blob/main/Class_Practice_10_16_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import string
import random

In [29]:
lc_letters = string.ascii_lowercase
print(lc_letters)

uc_letters = string.ascii_uppercase
print(uc_letters)

digits = string.digits
print(digits)

# punc = string.punctuation
# print(punc)

punc = "!#$%&*,-./;?@^_`|~"
print(punc)

allchars = lc_letters + uc_letters + digits + punc

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
!#$%&*,-./;?@^_`|~

In [30]:
character = random.choice(lc_letters)
print(character)
print(allchars)

c
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!#$%&*,-./;?@^_`|~

In [31]:
passwd = ''

# for each instance in this range, do this...
for i in range(8):
  passwd += random.choice(allchars)
  # I think the two lines of code below are how you could get rid of whitespace
  # passwd = passwd.replace("'", "")
  # passwd = passwd.replace('"', '')

print(passwd)

G/B,G^8m

In [32]:
allchars = lc_letters + uc_letters + digits + punc

def give_me_a_password(length):
  passwd = ''
  for i in range(length):
    passwd += random.choice(allchars)
  return passwd
# cannot do two returns in a function (I think)

give_me_a_password(44)

'&ztSZ6dJx%-p?vmm5R_|~n|P#vvPRLe@k|QbafgvV%-k'

In [34]:
beatles = ["John", "Paul", "Ringo", "George"]

for b in beatles:
  print(b + ': ' + give_me_a_password(10))

John: U/aO6S-^83
Paul: v3jv~Nu&g?
Ringo: meAosab_b8
George: @8E~I-ybiv

# F to C to F Conveter

In [37]:
def c_to_f(temp):
  ftemp = (temp * 1.8) + 32
  return ftemp

In [38]:
c_to_f(40)

104.0

In [39]:
# this won't work because it's not an integer or float
c_to_f(bananas)

NameError: ignored

In [41]:
# this functoin still works with a negative integer or float
c_to_f(-32)

-25.6

In [42]:
def f_to_c(temp):
  ctemp = (temp - 32)/1.8
  return ctemp

In [43]:
f_to_c(104)

40.0

In [46]:
def convert_temp(temp,unit):
  # in case I want Celsius back
  if unit == "C":
    ctemp = (temp - 32)/1.8
    return ctemp
  elif unit == "F":
    ftemp = (temp * 1.8) + 32
    return ftemp
  else:
    print("Hey you didn't give me C or F!")

print(convert_temp(40,"F"))
print(convert_temp(40,"K"))

104.0
Hey you didn't give me C or F!
None