<a href="https://colab.research.google.com/github/eyv7jz/ds1002-eyv7jz/blob/main/for_loop_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Looping Over Things

You will encounter a variety of objects you need to loop through.

## Pandas DataFrames

In [1]:
import pandas as pd

df = pd.read_csv("https://s3.amazonaws.com/ds1002-resources/data/temperatures.csv")
df.head()

         date  temperature
0  2019-03-03         14.0
1  2019-03-04         15.0
2  2019-03-05         18.0
3  2019-03-06         16.0
4  2019-03-07         62.6

In [3]:
# interrows() allows you to iterate over the rows of a DataFrame and perform
# operations on the data in each row
for row in df.iterrows():
  print(row)

(0, date           2019-03-03
temperature          14.0
Name: 0, dtype: object)
(1, date           2019-03-04
temperature          15.0
Name: 1, dtype: object)
(2, date           2019-03-05
temperature          18.0
Name: 2, dtype: object)
(3, date           2019-03-06
temperature          16.0
Name: 3, dtype: object)
(4, date           2019-03-07
temperature          62.6
Name: 4, dtype: object)
(5, date           2019-03-08
temperature          16.0
Name: 5, dtype: object)
(6, date           2019-03-09
temperature          16.0
Name: 6, dtype: object)
(7, date           2019-03-10
temperature          16.0
Name: 7, dtype: object)
(8, date           2019-03-11
temperature          17.0
Name: 8, dtype: object)
(9, date           2019-03-12
temperature          18.0
Name: 9, dtype: object)
(10, date           2019-03-13
temperature          18.0
Name: 10, dtype: object)
(11, date           2019-03-14
temperature          18.0
Name: 11, dtype: object)
(12, date           2019-03-15
temperature          17.0
Name: 12, dtype: object)
(13, date           2019-03-16
temperature          17.0
Name: 13, dtype: object)
(14, date           2019-03-17
temperature          14.0
Name: 14, dtype: object)
(15, date           2019-03-18
temperature          14.0
Name: 15, dtype: object)
(16, date           2019-03-19
temperature          14.0
Name: 16, dtype: object)
(17, date           2019-03-20
temperature          18.0
Name: 17, dtype: object)
(18, date           2019-03-21
temperature          20.0
Name: 18, dtype: object)
(19, date           2019-03-22
temperature          20.0
Name: 19, dtype: object)
(20, date           2019-03-23
temperature          17.0
Name: 20, dtype: object)
(21, date           2019-03-24
temperature          17.0
Name: 21, dtype: object)
(22, date           2019-03-25
temperature          17.0
Name: 22, dtype: object)
(23, date           2019-03-26
temperature          17.0
Name: 23, dtype: object)
(24, date           2019-03-27
temperature          17.0
Name: 24, dtype: object)
(25, date           2019-03-28
temperature          18.0
Name: 25, dtype: object)
(26, date           2019-03-29
temperature          18.0
Name: 26, dtype: object)
(27, date           2019-03-30
temperature          18.0
Name: 27, dtype: object)
(28, date           2019-03-31
temperature          18.0
Name: 28, dtype: object)

In [4]:
for i in range(len(df)):
  print(df.loc[i, "date"], df.loc[i, "temperature"])

2019-03-03 14.0
2019-03-04 15.0
2019-03-05 18.0
2019-03-06 16.0
2019-03-07 62.6
2019-03-08 16.0
2019-03-09 16.0
2019-03-10 16.0
2019-03-11 17.0
2019-03-12 18.0
2019-03-13 18.0
2019-03-14 18.0
2019-03-15 17.0
2019-03-16 17.0
2019-03-17 14.0
2019-03-18 14.0
2019-03-19 14.0
2019-03-20 18.0
2019-03-21 20.0
2019-03-22 20.0
2019-03-23 17.0
2019-03-24 17.0
2019-03-25 17.0
2019-03-26 17.0
2019-03-27 17.0
2019-03-28 18.0
2019-03-29 18.0
2019-03-30 18.0
2019-03-31 18.0

In [5]:
for i in range(len(df)):
  print(df.iloc[i, 0], df.iloc[i, 1])

2019-03-03 14.0
2019-03-04 15.0
2019-03-05 18.0
2019-03-06 16.0
2019-03-07 62.6
2019-03-08 16.0
2019-03-09 16.0
2019-03-10 16.0
2019-03-11 17.0
2019-03-12 18.0
2019-03-13 18.0
2019-03-14 18.0
2019-03-15 17.0
2019-03-16 17.0
2019-03-17 14.0
2019-03-18 14.0
2019-03-19 14.0
2019-03-20 18.0
2019-03-21 20.0
2019-03-22 20.0
2019-03-23 17.0
2019-03-24 17.0
2019-03-25 17.0
2019-03-26 17.0
2019-03-27 17.0
2019-03-28 18.0
2019-03-29 18.0
2019-03-30 18.0
2019-03-31 18.0

In [6]:
for index, row in df.iterrows():
  print(row["date"], row["temperature"])

2019-03-03 14.0
2019-03-04 15.0
2019-03-05 18.0
2019-03-06 16.0
2019-03-07 62.6
2019-03-08 16.0
2019-03-09 16.0
2019-03-10 16.0
2019-03-11 17.0
2019-03-12 18.0
2019-03-13 18.0
2019-03-14 18.0
2019-03-15 17.0
2019-03-16 17.0
2019-03-17 14.0
2019-03-18 14.0
2019-03-19 14.0
2019-03-20 18.0
2019-03-21 20.0
2019-03-22 20.0
2019-03-23 17.0
2019-03-24 17.0
2019-03-25 17.0
2019-03-26 17.0
2019-03-27 17.0
2019-03-28 18.0
2019-03-29 18.0
2019-03-30 18.0
2019-03-31 18.0

## Dictionaries

In [7]:
mydict = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [8]:
# This gets out all my keys:
for thing in mydict:
  print(thing)

United States
Italy
England
Thailand
Brazil

In [9]:
# This pulls out all the values of the dict:
for thing in mydict:
  print(mydict[thing])

Washington DC
Rome
London
Bangkok
Brasilia

In [10]:
# This pulls both keys and values of a dict:
for key, value in mydict.items():
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

## Tuples

In [11]:
thistuple = ("apple", "banana", "cherry")
for i in thistuple:
  print(i)

apple
banana
cherry

In [12]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry