<a href="https://colab.research.google.com/github/eyv7jz/ds1002-eyv7jz/blob/main/Validating_Input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# these are both integers
var1 = 2
var2 = 3

def add_these_things(var1,var2):
  return var1 + var2

add_these_things(var1,var2)

5

In [8]:
# these are both strings
var1 = "apples"
var2 = "bananas"

def add_these_things(var1,var2):
  return var1 + var2

add_these_things(var1,var2)

'applesbananas'

In [9]:
# cannot add an integer and a string together
# the two variables msut be compatible for adding together
var1 = 2
var2 = "bananas"
def add_these_things(var1,var2):
  return var1 + var2

add_these_things(var1,var2)

TypeError: ignored

In [10]:
def add_numbers(var3: int, var4: int) -> int:
  return var3 + var4

var3, var4 = 2342, 2345
add_numbers(var3, var4)

4687

In [11]:
# again this functin won't work because you can't add integers and strings
var3 = "bananas"
var4 = 4
add_numbers(var3, var4)

TypeError: ignored

In [12]:
# this tells you what the function's datatype input and output is
add_numbers.__annotations__

{'var3': int, 'var4': int, 'return': int}

In [13]:
def add_numbers(var3: int, var4: int) -> int:
    if (type(var3) == int) and (type(var4) == int): # this valids datatype input
      return var3 + var4
    else:
      print("You need two integers to use this function")

# if two string inputs then will get the else message
add_numbers(17,"bananas")

You need two integers to use this function

In [14]:
def add_numbers():
    var3 = int(input("Give me a first number: "))
    var4 = int(input("Give me a second number: "))
    if (type(var3) == int) and (type(var4) == int): # this validates datatype input
      return int(var3) + int(var4)

add_numbers()

Give me a first number: 4
Give me a second number: 6

10